/*
 * Estilos de tu proyecto
 */

 /*Clases reutilizables*/
.text-uppercase {
  text-transform: uppercase;
}
/*
.no-underline {
 text-decoration: none;
}
*/

.inline-block {
 display: inline-block;
}

.no-margin {
 margin: 0;
}

/*Colores a usar:
  #2C3E50 ---> Azul Oscuro
  #18BC9C ---> Menta
  #212529 ---> Negro "azulino"
*/

/* Tipografías de Google Font:
   font-family: 'Lato', sans-serif;
   font-family: 'Montserrat', sans-serif;
*/

/*El resto de mi código*/

* {
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
 color: #FFF;
}

/*Estilos para el menú de navegación*/

nav {
 background-color: #2C3E50;
 font-family: 'Montserrat', sans-serif;
 font-weight: 700px;
 width: 100%;
 padding: 21px 0 21px;
 letter-spacing: 1px;
 position: fixed;
 z-index: 1000;
}

.nav-bar {
 overflow: auto;
 margin-top: 7px;
 position: relative;
 left: 897px;
}
nav .container a {
 text-decoration: none;
}

.start-bootstrap {
  font-size: 1.9em;
  position: relative;
  left: 397px;
  bottom: 15px;
}


nav .nav-bar ul {
 padding: 0;
 float: right;
}

nav .nav-bar li {
 list-style: none;
}

nav .nav-bar li a {
 font-size: 1em;
 padding: 7px;
}

/*Estilos para el encabezado/presentación de start bootstrap*/

header {
  /*outline: 1px solid orange;*/
  padding: 67px 50px 124px;
  /*position: relative;
  top: 107px;*/
  background-color: #18BC9C;
}

header .container {
  position: relative;
  top: 70px;
  left: 464px;
  /*outline: 1px solid blue;*/
  width: 50%;
  vertical-align: middle;
  padding-top: 30px;
  padding-bottom: 50px;
}

hr {
  border: 2.5px solid;
  width: 103px;
  margin-right: 4px;
  margin-left: 3px;
  position: relative;
  bottom: 1px;
}

.star {
  /*outline: 1px solid green;*/
  text-align: center;
  margin: 23px auto 20px;
  position: relative;
  right: 13px;
}


.star hr .fa-star::after {
  padding: 0 10px 0 10px;
}

.container img {
  position: relative;
  left: 310px; /*240px*/
  padding-bottom: 25px;
}

.container .name {
  display: block;
  /*width: 100%;*/
  text-align: center;
  font-size: 4.79em;
  padding-top: 0.5px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  position: relative;
  right: 14px;
}

.container .specialties {
  display: block;
  /*width: 100%;*/
  margin-top: 20px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 1.75em;
  position: relative;
  right: 13px;
}

/*Estilos para la sección Portafolio*/



/*Estilos para el Pie de Página*/

footer {
  outline: 1px solid red;
  background-color: #2C3E50;
}

/*Estilos para la parte superior del footer*/
#footer-top {
  padding-bottom: 50px;
}

#footer-top h3 {
  font-family: 'Montserrat', sans-serif;
  outline: 1px solid gold;
  text-align: center;
}

#footer-top p {
  font-family: 'Lato', sans-serif;
  text-align: center;
}

#footer-top div {
  outline: 1px solid red;
  margin-right: 90px;
  width: 20%;
}

/*Estilos a la segunda de las 3 cajas que hay en la parte supeior del footer*/

#footer-top div ul {
  list-style: none;
  outline: 1px solid aqua;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 5px;
  width: 100%;
  height: 20%;
}

#footer-top div ul li {
  border: 2px solid #FFF;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin-right: 10px;
  font-size: 1.3em;
}

#footer-top div ul a .fa-facebook {
  position: relative;
  top: 10.5px;
  left: 17.5px;
}

#footer-top div ul a .fa-google-plus {
  position: relative;
  top: 11px;
  left: 11px;
}

#footer-top div ul a .fa-twitter {
  position: relative;
  top: 11.5px;
  left: 14px;
}

#footer-top div ul a .fa-linkedin {
  position: relative;
  top: 11px;
  left: 15px;
}

#footer-top div ul a .fa-dribbble {
  position: relative;
  top: 10.5px;
  left: 14.5px;
}

#footer-top div p a {
  color: #18BC9C;
  text-decoration: none;
}

/*Estilos para la parte inferior del footer*/
#footer-bottom {
  outline: 1px solid silver;
  text-align: center;
  font-family: 'Lato', sans-serif;
  padding: 25px 0;
}
