/*
 * Estilos de tu proyecto
 */

 /*Clases reutilizables*/
.text-uppercase {
  text-transform: uppercase;
}

.inline-block {
 display: inline-block;
}


/*Colores a usar:
  #2C3E50 ---> Azul Oscuro
  #18BC9C ---> Menta
  #212529 ---> Negro "azulino"
  #EEE ---> Plomizo
  #FFF ---> Blanco
  #28a745 ---> Color para el button send
*/

/* Tipografías de Google Font:
   font-family: 'Lato', sans-serif;
   font-family: 'Montserrat', sans-serif;
*/

/*El resto de mi código*/

* {
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
 /*color: #FFF;*/
}

body {
  margin: 0;
}
/*Estilos para el menú de navegación*/

nav {
 background-color: #2C3E50;
 font-family: 'Montserrat', sans-serif;
 font-weight: 700px;
 width: 100%;
 padding: 21px 0 21px;
 letter-spacing: 1px;
 position: fixed;
 z-index: 1000;
}

.nav-bar {
 overflow: auto;
 margin-top: 7px;
 position: relative;
 left: 897px;
}
nav .container a {
 text-decoration: none;
 color: #FFF;
}

.start-bootstrap {
  font-size: 1.9em;
  position: relative;
  left: 397px;
  bottom: 15px;
}


nav .nav-bar ul {
 padding: 0;
 float: right;
}

nav .nav-bar li {
 list-style: none;
}

nav .nav-bar li a {
 font-size: 1em;
 padding: 7px;
}

/*Estilos para el encabezado/presentación de start bootstrap*/

#principal-section {
  /*outline: 1px solid orange;*/
  padding: 100px 50px 124px;
  /*position: relative;
  top: 107px;*/
  background-color: #18BC9C;
  color: #FFF;
}

#principal-section .container {
  position: relative;
  top: 70px;
  left: 464px;
  /*outline: 1px solid blue;*/
  width: 50%;
  vertical-align: middle;
  padding-top: 30px;
  padding-bottom: 50px;
}

#principal-section .star hr {
  border: 2.5px solid #FFF;
  width: 103px;
  margin-right: 4px;
  margin-left: 3px;
  position: relative;
  bottom: 1px;
}

#principal-section .star {
  /*outline: 1px solid green;*/
  text-align: center;
  margin: 23px auto 20px;
  position: relative;
  right: 13px;
}


#principal-section .star hr .fa-star::after {
  padding: 0 10px 0 10px;
}

#principal-section .star hr .fa-star::before {
  padding: 0 10px 0 10px;
}

#principal-section .container img {
  position: relative;
  left: 310px; /*240px*/
  padding-bottom: 25px;
}

#principal-section .container .name {
  display: block;
  /*width: 100%;*/
  text-align: center;
  font-size: 4.79em;
  padding-top: 0.5px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  position: relative;
  right: 14px;
}

#principal-section .container .specialties {
  display: block;
  /*width: 100%;*/
  margin-top: 20px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 1.75em;
  position: relative;
  right: 13px;
}

/*Estilos para la sección Portafolio*/
#portfolio {
  padding-top: 100px;
  padding-bottom: 84px;
  outline: 1px solid red;
}

#portfolio h2 {
  /*outline: 1px solid gold;*/
  font-family: 'Montserrat', sans-serif;
  /*letter-spacing: 1px;*/
  font-size: 3em;
  margin: 0;
  /*padding-top: 7px;*/
  color: #212529;
  text-align: center;
  height:50px;
}

#portfolio .star {
  /*outline: 1px solid blue;*/
  text-align: center;
  margin: 30px auto 20px;
  position: relative;
  left: 0;
  bottom: 11px;
}

#portfolio hr {
  border: 2.5px solid #2C3E50;
  width: 103px;
  margin-right: 4px;
  margin-left: 4px;
  position: relative;
  bottom: 1px;
}

#portfolio .fa-star {
  color: #2C3E50;
}

#portfolio .star hr .fa-star::after {
  padding: 0 10px 0 10px;
}

#portfolio .star hr .fa-star::before {
  padding: 0 10px 0 10px;
}

#portfolio .container .pictures {
  /*outline: 1px solid yellow;*/
  width: 70%;
  height: 50%;
  text-align: center;
  position: relative;
  left: 300px;
  bottom: 41px;
}

#portfolio .container .pictures .figure {
  display: inherit;
  margin-top: 26px;
  margin-right: 26px;
}
#portfolio .container .pictures img {
  /*outline: 1px solid orange;*/
  width: 350px;
  height: 250px;
}
/*
#portfolio .container .pictures .search {
  outline: 1px solid silver;
  display: inline-block;
  overflow: hidden;
}
*/

/*Estilos para la sección about*/

#about {
  background-color: #18BC9C;
  padding-top: 55px;
  padding-bottom: 90px;
}

#about h2 {
  /*outline: 1px solid gold;*/
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
  color: #FFF;
  margin: 0;
  text-align: center;
  height: 50px;
  position: relative;
  top: 43px;
  padding-right: 4px;
}

#about .star {
  /*outline: 1px solid blue;*/
  text-align: center;
  color: #FFF;
  margin: 30px auto 20px;
  position: relative;
  right: 0;
  top: 32px;
}

#about hr {
  border: 2.5px solid #FFF;
  width: 103px;
  margin-right: 4px;
  margin-left: 4px;
  position: relative;
  bottom: 1px;
}

#about .star hr .fa-star::after {
  padding: 0 10px 0 10px;
}

#about .star hr .fa-star::before {
  padding: 0 10px 0 10px;
}

#about p {
  color: #FFF;
  width: 350px;
  height: 180px;
  font-family: 'Lato', sans-serif;
  font-size: 1.25em;
  line-height: 1.5;
  margin-right: 26px;
  position: relative;
  left: 586px;
  padding-bottom: 10px;
  /*outline: 1px solid purple;*/
}

#about .paragraph_1 {
  position: relative;
  top: 8px;
}

#about .paragraph_2 {
  position: relative;
  bottom: 22px;
}

#about a {
  outline: 1px solid skyblue;
  text-decoration: none;
  display: block;
  outline: 0;
  background-color: #18BC9C;
  border: 2px solid #FFF;
  color: #FFF;
  width: 210px;
  height: 50px;
  border-radius: 5px;
  padding: 8px 16px;
  font-family: 'Lato', sans-serif;
  font-size: 1.2em;
  position: relative;
  left: 845px;
  bottom: 10px;
  letter-spacing: 0.2px;
}

#about a i {
  font-size: 1em;
  position: relative;
  bottom: 1px;
}

/*Estilos para la sección Contact/Contact me*/

#contact {
  /*outline: 1px solid teal;*/
}

#contact .container {
  padding-top: 320px;
  outline: 1px solid lightgreen;
}

#contact h2 {
  /*outline: 1px solid gold;*/
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
  color: #212529;
  margin: 0;
  text-align: center;
  height: 50px;
  position: relative;
  bottom: 205px;
  /*padding-right: 4px;*/
}

#contact .star {
  /*outline: 1px solid skyblue;*/
  text-align: center;
  color: #2C3E50;
  margin: 30px auto 20px;
  position: relative;
  right: 0;
  bottom: 210px;
}

#contact hr {
  border: 2.5px solid #2C3E50;
  width: 103px;
  margin-right: 4px;
  margin-left: 4px;
  position: relative;
  bottom: 1px;
}

#contact .star hr .fa-star::after {
  padding: 0 10px 0 10px;
}

#contact .star hr .fa-star::before {
  padding: 0 10px 0 10px;
}

#contact #info {
  /*outline: 1px solid silver;*/
  /*height: 1000px;*/
  text-align: center;
  position: relative;
  bottom: 210px;
}

#contact #info #info form {
  /*outline: 1px solid green;*/
}

#contact .small-container {
  /*outline: 1px solid blue;*/
  height: 198px;
  width: 730px;
  padding-top: 30px;
  border-bottom: 1px solid #EEE;
}

#contact #info .small-container input {
  /*outline: 1px solid pink;*/
  display: inline-block;
  /*margin-bottom: 50px;*/
  height: 25%;
  width: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
  color: #2C3E50;
  border: none;
  outline: 0;
}

#contact #info #different-container {
  /*outline: 1px solid maroon;*/
  height: 198px;
  width: 730px;
  border-bottom: 1px solid #EEE;
}

#contact #info #different-container input{
  /*outline: 1px solid pink;*/
  display: inline-block;
  /*margin-bottom: 50px;*/
  border: none;
  height: 50%;
  width: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
  color: #2C3E50;
  outline: 0;
}

#contact #info button {
  margin-top: 25px;
  display: block;
  /*outline: 1px solid skyblue;*/
  text-decoration: none;
  display: block;
  outline: 0;
  background-color: #18BC9C;
  border: 2px solid #FFF;
  color: #FFF;
  width: 85px;
  height: 55px;
  border-radius: 8px;
  padding: 8px 16px;
  font-family: 'Lato', sans-serif;
  font-size: 1.25em;
  position: relative;
  left: 585px;
  /*bottom: 12px;*/
  letter-spacing: 0.2px;
}

/*Estilos para el Pie de Página*/

footer {
  /*outline: 1px solid red;*/
  background-color: #2C3E50;
  color: #FFF;
}

/*Estilos para la parte superior del footer*/
#footer-top {
  padding-bottom: 50px;
  line-height: 1.5;
}

#footer-top h3 {
  font-family: 'Montserrat', sans-serif;
  /*outline: 1px solid gold;*/
  text-align: center;
  font-size: 1.65em;
  position: relative;
  bottom: 8px;
}

#footer-top p {
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 1.25em;
}

#footer-top div {
  outline: 1px solid red;
  margin-top: 5px;
  margin-right: 30px;
  width: 380px;
  /*height: 170px;*/
  position: relative;
  left: 382px;
}

/*Estilos a la primera de las 3 cajas que hay en la parte superior del footer*/

.box_1 p {
  position: relative;
  bottom: 5px;
  outline: 1px solid green;
  width: 100%;
  line-height: 1.5;
}

/*Estilos a la segunda de las 3 cajas que hay en la parte superior del footer*/

#footer-top .box_2 {
  position: relative;
  bottom: 16px;
}

#footer-top .box_2 ul {
  /*outline: 1px solid aqua;*/
  height: 60px;
  width: 100%;
}

#footer-top .box_2 li {
  /*outline: 1px solid gold;*/
  height: 50px;
  width: 50px;
  margin: 5px;
}

#footer-top .box_2 a {
  /*outline: 1px solid fuchsia;*/
  display: inherit; /*Inherit me permite que este elemento herede el valor de display de su padre. Además me permite no tener que estar colocandolo en mi index.html*/
  height: inherit;
  width: inherit;
  border-radius: 25px;
}

#footer-top .box_2 i {
  /*outline: 1px solid teal;*/
  display: inherit;
  height: inherit;/*20px;*/
  width: inherit;/*25px;*/
  text-align: center;
  padding-top: 13px;
  padding-left: 0.9px;
  font-size: 1.25em;
  border: 2px solid #FFF;
  border-radius: inherit;
  color: #FFF;
}

#footer-top .box_2 i:hover, #footer-top .box_2 i:active {
  background: #FFF;
  color: #18BC9C;
  outline: 0;
}


/*Estilos a la tercera de las 3 cajas que hay en la parte superior del footer*/

#footer-top .box_3 {
  position: relative;
  top: 30px;
}

#footer-top .box_3 p {
  /*outline: 1px solid green;*/
  line-height: 1.5;
  position: relative;
  width: 360px;
  bottom: 10px;
  left: 10px;
}

#footer-top .box_3 p a {
  color: #18BC9C;
  text-decoration: none;
}

/*Estilos para la parte inferior del footer*/
#footer-bottom {
  /*outline: 1px solid silver;*/
  text-align: center;
  font-family: 'Lato', sans-serif;
  padding: 28.5px 0;
}
