/*
 * Estilos de tu proyecto
 */

 /*Clases reutilizables*/
.text-uppercase {
  text-transform: uppercase;
}
/*
.no-underline {
 text-decoration: none;
}
*/

.inline-block {
 display: inline-block;
}

.no-margin {
 margin: 0;
}
/*font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;*/
/*El resto de mi código*/

/*Menú de navegación*/
/*body {
 height: 100%;
}
*/

* {
 box-sizing: border-box;

}


body {
 width: 100%;
}


nav {
 background-color: #2C3E50;
 font-family: 'Montserrat', sans-serif;
 font-weight: 700px;
 width: 100%;
 padding: 21px 0 21px;
 letter-spacing: 1px;
}

.nav-bar {
 overflow: auto;
 margin-top: 7px;
 position: relative;
 left: 897px;/*22.8%*/
}
nav .container a {
 text-decoration: none;
 color: #fff;
}

#start-bootstrap {
  font-size: 1.9em;
  position: relative;
  left: 395px;
  bottom: 15px;
}


nav .nav-bar ul {
 padding: 0;
 float: right;
}

nav .nav-bar li {
 list-style: none;
}

nav .nav-bar li a {
 font-size: 1em;
 padding: 7px;
}
